.default-color0.chart-series-line { -fx-stroke: transparent; }
.default-color1.chart-series-line { -fx-stroke: blue; -fx-stroke-width: 3px; -fx-stroke-dash-array: 6 6;}
.default-color2.chart-series-line { -fx-stroke: transparent; }
.default-color3.chart-series-line { -fx-stroke: transparent; }

.default-color0.chart-line-symbol { 
    -fx-background-color: white, red; 
}

.default-color1.chart-line-symbol { 
    -fx-background-color: transparent, transparent; 
}

.default-color2.chart-line-symbol { 
    -fx-background-color: white, black; 
}

.default-color3.chart-line-symbol { 
    -fx-background-color: blue, yellow;       
}

.default-color0.chart-legend-item-symbol{
    -fx-background-color: red;
 }
 
.default-color1.chart-legend-item-symbol{
    -fx-background-color: blue;
 }
 
 .default-color2.chart-legend-item-symbol{
    -fx-background-color: black;
 }
 
  .default-color3.chart-legend-item-symbol{
    -fx-background-color: blue;
 }