.metadata
.recommenders
calibration/model/target
calibration/repository/target
calibration/service-api/target
calibration/integration/target
calibration/service-impl/target
calibration-gui/.mvn
log.roo
.sonarlint
*.log
*.db
