.metadata
.recommenders
calibration/model/target
calibration/repository/target
calibration/service-api/target
calibration/integration/target
calibration/service-impl/target
calibration-gui/.mvn
log.roo
.sonarlint
*.log
*.db
pom.xml.versionsBackup
.project**
.classpath**
*.class
.settings**
target/
.factorypath
.springBeans
.vscode
.attach_pid*
.sts4-cache**
*.jar
site/
*.orig
